.Main {
  display: grid;
  grid-template-areas: 
  'header header header'
  'main main main'
  'footer footer footer';
  grid-template-rows: 3.5em auto 20%;
}

.Main .Main-header {
  
  background-color: #fafafa;
}

.Main .Main-body {
  grid-area: main;
  background-color: #e9e9e9;
}

.Main .Main-footer {
  grid-area: footer;
  background-color: rgb(194, 54, 194);
}